<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    label {
      display: flex;
      flex-direction: column;
    }
    form {
      display: flex;
      flex-direction: row;
    }
  </style>
</head>

<body>
  <form method="post" enctype="multipart/form-data">
    <label>Image File
      <input type="file" name="photo" />
    </label>
    <label>Output Name
      <input type="text" name="name" />
    </label>
    <label>Questions
      <textarea name="questions"></textarea>
    </label>
    <label>Answers
      <textarea name="answers"></textarea>
    </label>
    <label>Output image height
      <input name="height" type="number"></input>
    </label>
    <label>Output image width
      <input name="width" type="number"></input>
    </label>
    <button type="submit" formaction="excel">Download Excel</button>
    {% if has_google %}
    <button type="submit" formaction="google">Save to Google Sheets</button>
  </form>
  {% else %}
  </form>
  <a href="/googleLogin">Login to access Google Sheets</a>
  {% endif %}
</body>

</html>